body {
    font-family: 'Raleway', sans-serif;
    width: 90%;
    margin: auto;
}

header {
    display: flex;
    margin-top: 30px;
    margin-bottom: 30px;
}

header img {
    height: 50px;
    width: 100px;
}

header ul {
    display: flex;
    list-style-type: none;
}

header nav {
    margin-left: auto;
}
   
header li {
    margin-left: 25px;
    margin-right: 25px;
}

header a {
    color: black;
    text-decoration: none;
}

.bleunav:hover {
    color: #0065FC;
    border-top: 5px #0065FC solid;
    padding-top: 43px;
}

#inscr {
    color: #0065FC;
}

#section1 a {
    font-weight: bold;
    color: black;
    text-decoration: none;
}

h1 {
    padding-bottom: 0rem;
    margin-bottom: 0rem;
    font-size: 1.2em;
}

#section1 p {
    padding-left: 0px;
}

#p {
    margin-top: 0.4rem;
}

#map {
    padding: 11px;
    border: 1px #F2F2F2 solid;
    border-radius: 15px 0px 0px 15px;
    background-color: #F2F2F2;
    font-size: 1rem;
}

#recherche {
    font-weight: bold;
    padding: 10px;
    font-size: 1rem;
    border: 1px #F2F2F2 solid;
    margin-left: 0rem;
}

#section1 ::placeholder {
    color: black;
}

#bouton {
    background-color: #0065FC;
    color: white;
    padding: 10px;
    border-radius: 0px 15px 15px 0px;
    border: 1px #0065FC solid;
    font-size: 1rem;
}

#sectionrecherche {
    margin-bottom: 15px;
}

#f {
    font-weight: bold;
    padding-right: 25px;
}

#filtres {
    padding-bottom: 20px;
}

#i {
    color: #0065FC;
    margin-right: 10px;
    border: 2px #F2F2F2 solid;
    border-radius: 45px;
    padding: 10px;
}

.filtre {
    border: 2px #F2F2F2 solid;
    border-radius: 30px;
    padding: 10px 25px 10px 0px;
    margin: 10px;
}

#money, #child, #heart, #dog {
    color: #0065FC;
    border: 1px #DEEBFF solid;
    border-radius: 30px;
    background-color: #DEEBFF;
    padding: 13px;
    margin-right: 10px;
}

#section1 a:hover {
    background-color: #DEEBFF;
}

h2 {
    font-size: 1.2em;
}

h3 {
    font-size: 1em;
}

p {
    font-size: 0.9em;
}

h3, p{
    color: black;
}

#section2 a {
    color: black;
    text-decoration: none;
}

.xeuro, .euro {
    font-weight: bold;
}

.etoilebleu {
    color: #0065FC;
}

.etoilegrise {
    color: #F2F2F2;
}

.img {
    height: 130px;
    width: 230px;
    border-radius: 20px 20px 0px 0px;
    margin-left: 5px;
    margin-top: 5px;
    margin-right: 5px;
    object-fit: cover;
}

.heb_bord {
    border: 1px white solid;
    width: 240px;
    border-radius: 20px;
    background-color: white;
    margin: 5px
}

#Hébergements {
    padding-left: 25px;
}

#section2 h3, p {
    padding-left: 15px;
}

#section2 h3 {
    margin-top: 5px;
    margin-bottom: 5px;
}

#section2 p {
    margin-top: 0px;
    margin-bottom: 5px;
}

.ensembleetoile {
    padding-left: 15px;
    margin-bottom: 10px;
}

#Hébergements_à_Marseille {
    border: 1px #F2F2F2 solid;
    border-radius: 20px;
    background-color: #F2F2F2;
    padding-top: 20px;
    margin-top: 20px;
    height: 620px;
    width: 60%
}

#groupe_carte1 {
    display: flex;
    justify-content: space-around;
    margin-left: 10px;
    margin-right: 10px;
    margin-bottom: 10px;
    
}

#groupe_carte2 {
    display: flex;
    justify-content: space-around;
    margin-left: 10px;
    margin-top: 0px;
    margin-right: 10px;
    margin-bottom: 30px;
}

#aff {
    padding-left: 25px;
    font-weight: bold;
}

.img2 {
    height: 140px;
    width: 110px;
    object-fit: cover;
    border-radius: 20px 0px 0px 20px;
    margin-left: 5px;
    margin-top: 5px;
    margin-bottom: 5px;
}

.pop_bord {
    border: 1px #F2F2F2 solid;
    width: 430px;
    border-radius: 20px;
    background-color: white;
    margin: 5px
}

aside {
    height: 620px;
    width: 35%;
    border: 1px #F2F2F2 solid;
    border-radius: 20px;
    background-color: #F2F2F2;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    padding-bottom: 20px;
}

#pop {
    display: flex;
    align-items: center;
}

aside i {
    margin-left: auto;
}

.ensembleetoile2 {
    padding-left: 15px;
    padding-top: 65px;
}

.bloc {
    display: flex;
}

#section2 {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
}