/*Body*/

body {
    font-family: 'Raleway', sans-serif;
    width: 1500px;
}

h2 {
    font-size: 1.2em;
}

h3 {
    font-size: 1em;
}

p {
    font-size: 0.9em;
}

h3, p {
    color: black;
}

/*Header*/

header {
    width: 90%;
    margin: auto;
    display: flex;
    margin-top: 30px;
    margin-bottom: 30px;
}

header img {
    height: 50px;
    width: 100px;
}

header ul {
    display: flex;
    list-style-type: none;
}

header nav {
    display: flex;
    align-items: center;
    margin-left: auto;
}
   
header li {
    margin-left: 15px;
    margin-right: 15px;
}

header a {
    color: black;
    text-decoration: none;
    padding-left: 20px;
    padding-right: 20px;
}

.bleunav:hover {
    color: #0065FC;
    border-top: 5px #0065FC solid;
    padding-top: 43px;
}

#inscr {
    font-weight: bold;
    color: #0065FC;
    margin-left: 15px;
    padding-right: 0px;
}

/*Section 1*/

#section1 {
    width: 90%;
    margin: auto;
}

#section1 a {
    font-weight: bold;
    color: black;
    text-decoration: none;
}

h1 {
    padding-bottom: 0rem;
    margin-bottom: 0rem;
    font-size: 1.2em;
}

#section1 p {
    padding-left: 0px;
}

#p {
    margin-top: 0.4rem;
}

#map {
    padding: 11px;
    border: 1px #F2F2F2 solid;
    border-radius: 15px 0px 0px 15px;
    background-color: #F2F2F2;
    font-size: 1rem;
}

#recherche {
    font-weight: bold;
    padding: 10px;
    font-size: 1rem;
    border: 1px #F2F2F2 solid;
    margin-left: 0rem;
}

#section1 ::placeholder {
    color: black;
}

#bouton {
    background-color: #0065FC;
    color: white;
    padding: 10px;
    border-radius: 0px 15px 15px 0px;
    border: 1px #0065FC solid;
    font-size: 1rem;
}

#sectionrecherche {
    margin-bottom: 30px;
}

#f {
    font-weight: bold;
    margin-left: 10px;
    padding-right: 25px;
}

#filtres {
    padding-bottom: 20px;
}

#i {
    color: #0065FC;
    margin-left: 5px;
    margin-right: 10px;
    border: 2px #F2F2F2 solid;
    border-radius: 20px;
    padding: 5px 10px 5px 10px;
}

.filtre {
    border: 2px #F2F2F2 solid;
    border-radius: 30px;
    padding: 10px 25px 10px 0px;
    margin: 10px 35px 10px 10px;
}

#money, #heart, #dog {
    color: #0065FC;
    border: 1px #DEEBFF solid;
    border-radius: 20px;
    background-color: #DEEBFF;
    padding: 11px;
    margin-right: 15px;
    margin-left: -2px;
}

#child {
    color: #0065FC;
    border: 1px #DEEBFF solid;
    border-radius: 20px;
    background-color: #DEEBFF;
    padding: 11px 15px 11px 15px;
    margin-right: 15px;
    margin-left: -2px;
}

#section1 a:hover {
    background-color: #DEEBFF;
    border: 2px #DEEBFF solid;
}

/*Section 2*/

#section2 {
    width: 90%;
    margin: auto;
}

#section2 a {
    color: black;
    text-decoration: none;
}

.xeuro, .euro {
    font-weight: bold;
}

.etoilebleu {
    color: #0065FC;
}

.etoilegrise {
    color: #F2F2F2;
}

.img {
    height: 130px;
    width: 270px;
    border-radius: 20px 20px 0px 0px;
    margin-left: 3px;
    margin-top: 3px;
    margin-right: 3px;
    object-fit: cover;
}

.heb_bord {
    border: 1px white solid;
    box-shadow: 0px 1px 10px 1px rgba(0, 0, 0, 0.2);
    width: 276px;
    border-radius: 20px;
    background-color: white;
    margin-bottom: 15px;
}

#Hébergements {
    padding-left: 20px;
}

#section2 h3, p {
    padding-left: 15px;
}

#section2 h3 {
    margin-top: 5px;
    margin-bottom: 5px;
}

#section2 p {
    margin-top: 0px;
    margin-bottom: 5px;
}

.ensembleetoile {
    padding-left: 15px;
    margin-bottom: 10px;
}

#Hébergements_à_Marseille {
    border: 1px #F2F2F2 solid;
    border-radius: 20px;
    background-color: #F2F2F2;
    padding-top: 20px;
    margin-top: 20px;
    height: 620px;
    width: 67%
}

#hébergements {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-top: 25px;
    margin-left: 20px;
    margin-right: 20px;
}

#aff {
    padding-left: 20px;
    font-weight: bold;
    display: flex;
    margin-top: 30px;
}

.img2 {
    height: 160px;
    width: 140px;
    object-fit: cover;
    border-radius: 20px 0px 0px 20px;
    margin-left: 3px;
    margin-top: 3px;
    margin-bottom: 3px;
}

.pop_bord {
    border: 1px #F2F2F2 solid;
    box-shadow: 0px 1px 10px 1px rgba(0, 0, 0, 0.2);
    width: 360px;
    border-radius: 20px;
    background-color: white;
}

aside {
    height: 620px;
    width: 30%;
    border: 1px #F2F2F2 solid;
    border-radius: 20px;
    background-color: #F2F2F2;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    padding-bottom: 20px;
}

#pop {
    display: flex;
    align-items: center;
    margin-bottom: 0px;
    margin-top: 15px;
    width: 360px;
}

aside i {
    margin-left: auto;
}
    
.ensembleetoile2 {
    padding-left: 15px;
    padding-top: 65px;
}

.bloc {
    display: flex;
}

.texte {
    padding-top: 10px;
    padding-right: 60px;
}

#section2 {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    margin-bottom: 50px;
}

/*Section 3*/

#section3 {
    width: 90%;
    margin: auto;
}

#section3 a {
    text-decoration: none;
}

.grandeimg {
    height: 330px;
    width: 310px;
    object-fit: cover;
    border-radius: 20px 20px 0px 0px;
}

#image2 {
    height: 140px;
    width: 310px;
    object-fit: cover;
    border-radius: 20px 20px 0px 0px;
}

#image3 {
    height: 100px;
    width: 310px;
    object-fit: cover;
    border-radius: 20px 20px 0px 0px;
}

.moyimg {
    height: 120px;
    width: 310px;
    object-fit: cover;
    border-radius: 20px 20px 0px 0px;
}

.act_bord {
    border-radius: 20px;
    box-shadow: 0px 1px 10px 1px rgba(0, 0, 0, 0.2);
    width: 310px;
    padding: 0px;
}

#section3 h3 {
    padding-left: 15px;
    padding-bottom: 15px;
    margin-top: 15px;
}

#Activités_à_Marseille {
    display: flex;
    justify-content: space-between;
}

#Fort {
    margin-bottom: 37px;
}

#Dame {
    margin-bottom: 37px;
}

#Activités {
    margin-bottom: 25px;
}

/*Footer*/

footer ul {
    list-style-type: none;
    padding-left: 0px;
    padding-top: 5px;
}

footer a {
    color: black;
    text-decoration: none;
}

footer li {
    padding-bottom: 10px;
}

footer {
    width: 100%;
    display: flex;
    border: 1px #F2F2F2 solid;
    background-color: #F2F2F2;
    padding-top: 25px;
    padding-bottom: 25px;
    margin-top: 40px;
}

#propos {
    padding-left: 75px;
    padding-right: 215px;
}

#NosHeb {
    padding-right: 300px;
}
